.navbar{
    height: 5rem ;
    background-color: white;
}

.fa-location-dot{
font-size : 2rem;
}

.nav-link{
color: #222222 !important
<<<<<<< HEAD
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;   
}

.f-info-links{
    width:100%;
}

.f-info-socials{
    width:100%;
}

.f-info{
   height: 8rem;
   display : flex ;
   flex-wrap: wrap;
   justify-content: center;
   align-items: space-evenly;
   text-align: center;
   background-color: #ebebeb;
}

=======
}
>>>>>>> e347d8c4c953469f1ceb7eced2a6a3a53d56eb8b
