body{
    display:flex;
    flex-direction: column;
    min-height:100vh ;
}

.container{
    flex: 1;
}
.navbar{
    height: 5rem ;
    background-color: white;
}

.fa-location-dot{
font-size : 2rem;
}

.nav-link{
color: #222222 !important;
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;   
}

.f-info-links{
    width:100%;
}

.f-info-socials{
    width:100%;
}

.f-info{
   height: 8rem;
   display : flex ;
   flex-wrap: wrap;
   justify-content: center;
   align-items: space-evenly;
   text-align: center;
   background-color: #ebebeb;
   
}



.card {
    width: 100%;
    border: none;
    border-radius: 14px;
    overflow: hidden;
    background-color: white;
}

.card-img-top{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 14px;
    display: block;
}
.card-body {
    padding: 12px 2px;
}

.card-text {
    margin: 0 0 6px;
    font-size: 1rem;
    font-weight: 400;
}

.card:hover {
    transform: translateY(-6px);

    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.14);
}

.form-label h2 {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 600;
}
